<h1>Edit a Book</h1>
<form method="POST" action="/books/<%= @book.id %>">
  <input type="hidden" name="_method" value="PATCH">
  <label>Title</label>
  <input type="text" value="<%= @book.title %>" name="book[title]"/>
  <br>
  <label>Author</label>
  <input type="text" value="<%= @book.author %>"  name="book[author]"/>
  <br>
  <label>Snippet</label>
  <input type="text" value="<%= @book.snippet %>"  name="book[snippet]"/>
  <br>
  <input type="submit"/>
</form>
