<form method="POST" action="/cars">
  <input type="hidden" name="authenticity_token">
  <label>Name</label>
  <input type="text" name="car[name]" placeholder="Lightning McQueen">
  <label>Make</label>
  <input type="text" name="car[make]" placeholder="Dodge Charger">
  <label>Color</label>
  <input type="text" name="car[color]" placeholder="RED">
  <label>Year</label>
  <input name="car[year]" placeholder="YYYY" type="number">
  <input type="submit">
</form>
